# Секреты для локального тестирования.
# Скопируйте содержимое в файл .env и замените значения "test" на реальные тестовые данные для авторизации админа.
# AUTH_EMAIL = "test" 
# AUTH_PASSWORD = "test"